.detalle{
    text-align: center;
    border: solid red 2px;
    border-radius: 20px;
    margin: 30px;
    padding: 30px;
}

.detalle img{
    width: 300px;
    border-radius: 10px;


}

.detalle button{
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
}
